<!DOCTYPE html>
<html lang="en" ng-app="angularstates">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="css/style.css">

  <script src="/angular/angular.js"></script>
  <script src="/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/controllers/home.controller.js"></script>
  <script src="/js/controllers/new.controller.js"></script>

  <title>TODOS</title>
</head>
<body>

  <nav>
    <a ui-sref="new">New Todo</a>
  </nav>

  <section ng-controller="HomeController as home" ui-view>

    <h2>{{home.title}}</h2>

    <div>
      <ul ng-class="todoList">
        <li ng-repeat="todo in home.todos track by $index">
          <strong>{{$index + 1}}:</strong> {{todo}}
          <button type="button" ng-click="home.deleteTodos($index)">Delete</button>
          <label><input type="checkbox" label="Completed" ng-model="" ng-click="home.deleteTodos($index); home.addToCompleted(todo)">Completed</label>
        </li>
      </ul>

      <h2>Completed</h2>
      <ul>
        <li ng-repeat="completedItem in home.completed track by $index">
          <strong>{{ completedItem }}</strong>
        </li>
      </ul>
    </div>

  </section>

</body>
</html>
