
<% if (user) { %>
  <form action="/url-where-you-want-to-submit-form-data">
    <input type="text" placeholder="First Name">
    <input type="text" placeholder="Last Name">
    <input type="text" placeholder="Email">
  </form>
<% } else { %>
  <em>User not found. Soz.</em>
<% } %>
