
<form action="/url-where-you-want-to-submit-form-data">
  <input type="text" placeholder="First Name">
  <input type="text" placeholder="Last Name">
  <input type="text" placeholder="Email">
  <button type="submit">Submit</button>
</form>
